<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mathspace - Terrain </title>
    <style>
        .section {
            margin: 50px 0 0 50px;
        }
        .matrix {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start
        }
        .flex-center {
            display: flex;
            align-items: center
        }
    </style>
</head>
<body>
    <div class="matrix">
        <div class="section">
            <div class="flex-center">
                <h1>Terrain Grid</h1> &nbsp;
                <a href="{% url 'terrain-view' %}">Generate new terrain</a>
            </div>
            {% for row in matrix %}
                {%  for node in row %}
                    <span > {{ node }} | </span>
                {% endfor %}
                <br><br>
            {% endfor %}
        </div>
    <br>
        <div class="section">
            <h1>Least Cost Matrix </h1>
            {% for row in least_cost_matrix %}
                {%  for value in row %}
                    {{ value }} |
                {% endfor %}
                <br><br>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="section">
        <h1>Least Cost Path </h1>
        {{ least_cost_path }}
    </div>
    <div class="section">
        <h1>Least Cost Points </h1>
        {{ least_cost_points }}
    </div>
</body>
</html>